#carouselExampleCaptions img{
    height: 450px;
    object-fit: cover;
}
.margin{
    height: 80px;
    width: 100%;

}

.row{
    gap: 18px;
} 
.row .card{
    margin: 0;
}
.place{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.item{
    padding: 12px;
    box-shadow: 0px 0px 8px rgb(152, 150, 150);
    border-radius: 10px;
    width: 290px;
    transition: 300ms ease;
    animation: mymove 1s;
}
.item:hover{
    box-shadow: 0px 0px 8px rgb(20, 18, 18);
    cursor: pointer;
}
@keyframes mymove{
    from{
        opacity : 0;
        transition: 300ms ease;
    }
    to{
        opacity: 1;
        transition: 300ms ease;
    }
}

a, button /* &c... */ {
    all: unset;
}